@import "designTokens";

/* averta-light */
 @font-face {
  font-family: '$font-averta-name';
  font-style: normal;
  font-weight: '$font-weight-light';
  src: local('$font-averta-name'), local('Averta-Light'),
       '$font-averta-url-light'; 
}
/* averta-regular */
 @font-face {
  font-family: '$font-averta-name';
  font-style: normal;
  font-weight: '$font-weight-regular';
  src: local('$font-averta-name'), local('Averta-Regular'),
       '$font-averta-url-regular'; 
}
/* averta-semibold */
@font-face {
  font-family: '$font-averta-name';
  font-style: normal;
  font-weight: '$font-weight-semibold'; /* pour N3-UX devrait etre 600 */
  src: local('$font-averta-name'), local('Averta-Semibold'),
       '$font-averta-url-semibold'; 
}
/* averta-bold */
@font-face {
  font-family: '$font-averta-name';
  font-style: normal;
  font-weight: '$font-weight-bold';
  src: local('$font-averta-name'), local('Averta-Bold'),
       '$font-averta-url-bold'; 
}