// Colors
$white:            #fff;
$blue:             #e2dff2;
$blue30:           #3f42db;
$blue50:           #161c71;
$graphite:         #e6e7e8;
$graphite40:       #666666;
$graphite50:       #383838;
$yellow:           #f3f6d8;
$yellow10:         #f4f412;
$yellow50:         #3f3f02;
$black:            #000;
$orange:           #f6ebd8;
$orange05:         #ee9109;
$orange45:         #3f2802;
$red:              #ffc8c8;
$red30:            #ea032a;
$red50:            #790318;
$green:            #cce7dc;
$green30:          #00874e;
$green50:          #064a2d;