@import "breakpoints";

$grid: (
  (
    xs,
    map-get($breakpoints, xs),
    100%,
    4,
    6px,
    12px
  ), 
  (
    sm,
    map-get($breakpoints, sm),
    100%,
    12,
    6px,
    12px
  ),
  (
    md,
    map-get($breakpoints, md),
    960px,
    12,
    12px,
    24px
  ),
  (
    lg,
    map-get($breakpoints, lg),
    1152px,
    24,
    12px,
    24px
  ),
  (
    xl,
    map-get($breakpoints, xl),
    1392px,
    24,
    12px,
    24px
  )
) !default;

.grid-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: calc(100% - 12px);
  
  &.active { opacity: 1; }
  &.hidden { opacity: 0; }

  .grid-size-name {
    background: rgba(0, 0, 0, 0.5);
    height: 30px;
    text-align: center;
    width: 100%;
    z-index: 1;
  
    @each $bp-name, $breakpoint in $grid {
      @media (min-width: #{$breakpoint}) {
        &:before {
          color: white;
          content: "#{$bp-name}";
          font-weight: bold;
          text-transform: uppercase;
        }
      }
    }
  }

  .grid-display {
    align-content: start;
    counter-reset: grid;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1;
    grid-template-rows: 1;
    height: 100vh;
    justify-content: center;
    pointer-events: none;
    position: fixed;
    width: calc(100% - 12px);

    .grid-column {
      display: none;
      background-color: lightgreen;
      height: 100vh;
      position: relative;
      &:before {
        color: white;
        counter-increment: grid;
        content: counters(grid,"");
        font-weight: bold;
        padding-top: 30px;
        text-align: center;
      }
    }
    
    @each $bp-name, $breakpoint, $grid-width, $grid-columns, $grid-margins, $grid-gutters in $grid {
      @media (min-width: #{$breakpoint}) {
        grid-gap: #{$grid-gutters};
        -ms-grid-columns: repeat(#{$grid-columns}, 1fr);
        grid-template-columns: repeat(#{$grid-columns}, 1fr);
        // margin: 0 #{$grid-gutters};
        max-width: #{$grid-width};
      }
    }

    @media (min-width: map-get($breakpoints, xs)) {
      .grid-column:nth-child(-n+5) {
        display: -ms-grid;
        display: grid;
      }
    }
    @media (min-width: map-get($breakpoints, sm)) {
      .grid-column:nth-child(-n+13) {
        display: -ms-grid;
        display: grid;
      }
    }
    @media (min-width: map-get($breakpoints, lg)) {
      .grid-column:nth-child(-n+25) {
        display: -ms-grid;
        display: grid;
      }
    }
  }
}


.container {
	display: -ms-grid;
	display: grid;
	-ms-grid-rows: 1fr 5fr 1fr;
	grid-template-rows: 1fr 5fr 1fr;
	-ms-grid-columns: 2fr 5fr 3fr;
  grid-template-columns: 2fr 5fr 3fr; // (repeat(24, 1fr))
  grid-template-areas: 
    "header header header"
    "nav main aside"
    "footer footer footer";
  // grid-gap: 24px;        
	height: 100vh;
  
  @each $bp-name, $breakpoint, $grid-width, $grid-columns, $grid-gutters, $grid-margins in $grid {
    @media (min-width: #{$breakpoint}) {
      grid-gap: #{$grid-gutters};
      margin: 0 #{$grid-margins};
      width: #{$grid-width};
    }
  }

  @media(max-width: 768px){
		-ms-grid-rows: 1fr 1fr 5fr 1fr;
		grid-template-rows: 1fr 1fr 5fr 1fr;
		-ms-grid-columns: 2fr 5fr 3fr;
    grid-template-columns: 2fr 5fr 3fr;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main aside"    
    "footer footer footer";    
	}
	
  @media(max-width: 480px){
    display: block;
	}
	
  header{
		-ms-grid-row: 1; 
		-ms-grid-column: 1;
		-ms-grid-column-span: 3; 
    grid-area: header;
    background-color: teal; 
	}
	
  nav.main-nav {
		-ms-grid-row: 2; 
		-ms-grid-column: 1;
		-ms-grid-column-span: 3; 
		grid-area: nav;
    background-color: tomato;
	}
	
  section.main{
		-ms-grid-row: 3; 
		-ms-grid-column: 1;
		-ms-grid-column-span: 2; 
    grid-area: main;
    background-color: lightblue;
	}
	
  aside {
		-ms-grid-row: 3; 
		-ms-grid-column: 1; 
    grid-area: aside;
    background-color: orange;
	}
	
  footer {
		-ms-grid-row: 4; 
		-ms-grid-column: 1;
		-ms-grid-column-span: 3; 
    grid-area: footer;
  }
}