// Media Queries

$xs: (
 breakpoint: 320px,
 grid: 100%,
 grid-columns: 4,
 grid-gutters: 12px
);
$sm: (
 breakpoint: 768px,
 grid: 100%,
 grid-columns: 12,
 grid-gutters: 12px
);
$md: (
 breakpoint: 992px,
 grid: 960px,
 grid-columns: 12,
 grid-gutters: 24px
);
$lg: (
 breakpoint: 1200px,
 grid: 1152px,
 grid-columns: 24,
 grid-gutters: 24px
);
$xl: (
 breakpoint: 1440px,
 grid: 1392px,
 grid-columns: 24,
 grid-gutters: 24px
);


$breakpoints: (
  xs: 320px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1440px
);

$grid: (
	xs: 100%,
	sm: 100%,
  md: 960px,
  lg: 1152px,
  xl: 1392px
);

$columns: (
	xs: 4,
	sm: 12,
	md: 12,
  lg: 24,
  xl: 24
);

/*
$columnsSize: (
	md: 56px,
  lg: 24px,
  xl: 34px
);
*/
$gutters: (
	xs: 12px,
	sm: 12px,
	md: 24px,
  lg: 24px,
  xl: 24px
);


body {
	height: 100%;
	margin: 0;
}

@each $screen-size in $columns {
	@include bp('$screen-size') {
		.grid-column:nth-child(-n+$column) {
			display: block;
		}
	}
}

@each $screen-size in $breakpoints {
	.grid-display {
		grid-gap: map-get($gutters, $screen-size);
		grid-template-rows: 1;
		grid-template-columns: repeat(map-get($columns, $screen-size), 1fr);
		margin: 0 map-get($gutters, $screen-size);
		width: map-get($grid, $screen-size);
	}
	
}

.grid-display {
	display: grid;
	height: 100vh;
	position: relative;

	.grid-column {
		display: none;
		background-color: lightgreen;
	}
}





.container {
	display: -ms-grid;
	display: grid;
	-ms-grid-rows: 1fr 5fr 1fr;
	grid-template-rows: 1fr 5fr 1fr;
	-ms-grid-columns: 2fr 5fr 3fr;
  grid-template-columns: 2fr 5fr 3fr; // (repeat(24, 1fr))
  grid-template-areas: 
    "header header header"
    "nav main aside"
    "footer footer footer";
  grid-gap: 24px;        
	height: 100vh;
	
  @media(max-width: 768px){
		-ms-grid-rows: 1fr 1fr 5fr 1fr;
		grid-template-rows: 1fr 1fr 5fr 1fr;
		-ms-grid-columns: 2fr 5fr 3fr;
    grid-template-columns: 2fr 5fr 3fr;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main aside"    
    "footer footer footer";    
	}
	
  @media(max-width: 480px){
    display: block;
	}
	
  header{
		-ms-grid-row: 1; 
		-ms-grid-column: 1;
		-ms-grid-column-span: 3; 
    grid-area: header;
    background-color: teal; 
	}
	
  nav.main-nav {
		-ms-grid-row: 2; 
		-ms-grid-column: 1;
		-ms-grid-column-span: 3; 
		grid-area: nav;
    background-color: tomato;
	}
	
  section.main{
		-ms-grid-row: 3; 
		-ms-grid-column: 1;
		-ms-grid-column-span: 2; 
    grid-area: main;
    background-color: lightblue;
	}
	
  aside {
		-ms-grid-row: 3; 
		-ms-grid-column: 1; 
    grid-area: aside;
    background-color: orange;
	}
	
  footer {
		-ms-grid-row: 4; 
		-ms-grid-column: 1;
		-ms-grid-column-span: 3; 
    grid-area: footer;
  }
}
/*
	@include bp('lg') {
		justify-content: flex-end;
	}
	
	@supports (display: grid) {
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: 1fr 1fr;
		
		@include bp('lg') {
			grid-template-columns: repeat(24, 1fr);
		}
	}
}*/


/*
.support {
	align-items: center;
	background: tomato;
	color: #fff;
	display: flex;
	font-size: .9rem;
	padding: 0 10px 0 0;
	position: fixed;
	right: 0;
	top: 0;
	width: auto;
	z-index: 100;

	a { 
		color: #fff;
		padding: 10px 0;
		text-decoration: none;
	}
	
	@supports ( display: grid ) {
		background: rgb(5,138,110);
		right: 40px;
		transform: translateX(100%);
		transition: right .5s ease-in-out, transform .5s ease-in-out;

		&:hover {
			right: 0;
			transform: translateX(0%);
		}
	}
}

.support svg {
	fill: #ffffff;
	height: 30px;
	margin-right: 5px;
	padding: 5px;
	width: 30px;
}

.unsupported {
	display: block;
	
	@supports ( display: grid ) {
		display: none;
	}
}

.supported {
	display: none;
	
	@supports ( display: grid ) {
		display: block;
	}
}
*/