@import "https://drive.google.com/open?id=1zpb67nI7AiKNre0ps7PyS8XzMDgPPiVh"; // Design tokens
@import "normalize";
@import "breakpoints";
@import "grid-display";
@import "layout";
@import "show-hide";

*, ::before, ::after {
  box-sizing: border-box;
}

body {
  font-family: '$font-averta-name', Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  font-family: '$font-averta-name', Arial, Helvetica, sans-serif;
}

hr {
  border-top: 1px solid '$color-graphite-40';
}

