@import "https://drive.google.com/open?id=1zpb67nI7AiKNre0ps7PyS8XzMDgPPiVh";
/* averta-light */
@font-face {
  font-family: '$font-averta-name';
  font-style: normal;
  font-weight: '$font-averta-weight-light';
  src: local("$font-averta-name"), local("Averta-Light"), "$font-averta-url-light"; }

/* averta-regular */
@font-face {
  font-family: '$font-averta-name';
  font-style: normal;
  font-weight: '$font-averta-weight-regular';
  src: local("$font-averta-name"), local("Averta-Regular"), "$font-averta-url-regular"; }

/* averta-semibold */
@font-face {
  font-family: '$font-averta-name';
  font-style: normal;
  font-weight: '$font-averta-weight-semibold';
  /* pour N3-UX devrait etre 600 */
  src: local("$font-averta-name"), local("Averta-Semibold"), "$font-averta-url-semibold"; }

/* averta-bold */
@font-face {
  font-family: '$font-averta-name';
  font-style: normal;
  font-weight: '$font-averta-weight-bold';
  src: local("$font-averta-name"), local("Averta-Bold"), "$font-averta-url-bold"; }
