/* averta-light */
@font-face {
  font-family: 'Averta';
  font-style: normal;
  font-weight: 300;
  src: local("Averta"), local("Averta-Light"), url("../fonts/averta-light.woff2") format("woff2"), url("../fonts/averta-light.woff") format("woff"); }

/* averta-regular */
@font-face {
  font-family: 'Averta';
  font-style: normal;
  font-weight: 400;
  src: local("Averta"), local("Averta-Regular"), url("../fonts/averta-regular.woff2") format("woff2"), url("../fonts/averta-regular.woff") format("woff"); }

/* averta-semibold */
@font-face {
  font-family: 'Averta';
  font-style: normal;
  font-weight: 500;
  /* pour N3-UX devrait etre 600 */
  src: local("Averta"), local("Averta-Semibold"), url("../fonts/averta-semibold.woff2") format("woff2"), url("../fonts/averta-semibold.woff") format("woff"); }

/* averta-bold */
@font-face {
  font-family: 'Averta';
  font-style: normal;
  font-weight: 700;
  src: local("Averta"), local("Averta-Bold"), url("../fonts/averta-bold.woff2") format("woff2"), url("../fonts/averta-bold.woff") format("woff"); }
