/* if selector is wider than the screensize we are calling */
.grid-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: calc(100% - 12px); }
  .grid-container.active {
    opacity: 1; }
  .grid-container.hidden {
    opacity: 0; }
  .grid-container .grid-size-name {
    background: rgba(0, 0, 0, 0.5);
    height: 30px;
    text-align: center;
    width: 100%;
    z-index: 1; }
    @media (min-width: 320px) {
      .grid-container .grid-size-name:before {
        color: white;
        content: "xs";
        font-weight: bold;
        text-transform: uppercase; } }
    @media (min-width: 768px) {
      .grid-container .grid-size-name:before {
        color: white;
        content: "sm";
        font-weight: bold;
        text-transform: uppercase; } }
    @media (min-width: 992px) {
      .grid-container .grid-size-name:before {
        color: white;
        content: "md";
        font-weight: bold;
        text-transform: uppercase; } }
    @media (min-width: 1200px) {
      .grid-container .grid-size-name:before {
        color: white;
        content: "lg";
        font-weight: bold;
        text-transform: uppercase; } }
    @media (min-width: 1440px) {
      .grid-container .grid-size-name:before {
        color: white;
        content: "xl";
        font-weight: bold;
        text-transform: uppercase; } }
  .grid-container .grid-display {
    align-content: start;
    counter-reset: grid;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1;
    grid-template-rows: 1;
    height: 100vh;
    justify-content: center;
    pointer-events: none;
    position: fixed;
    width: calc(100% - 12px); }
    .grid-container .grid-display .grid-column {
      display: none;
      background-color: lightgreen;
      height: 100vh;
      position: relative; }
      .grid-container .grid-display .grid-column:before {
        color: white;
        counter-increment: grid;
        content: counters(grid, "");
        font-weight: bold;
        padding-top: 30px;
        text-align: center; }
    @media (min-width: 320px) {
      .grid-container .grid-display {
        grid-gap: 12px;
        -ms-grid-columns: repeat(4, 1fr);
        grid-template-columns: repeat(4, 1fr);
        max-width: 100%; } }
    @media (min-width: 768px) {
      .grid-container .grid-display {
        grid-gap: 12px;
        -ms-grid-columns: repeat(12, 1fr);
        grid-template-columns: repeat(12, 1fr);
        max-width: 100%; } }
    @media (min-width: 992px) {
      .grid-container .grid-display {
        grid-gap: 24px;
        -ms-grid-columns: repeat(12, 1fr);
        grid-template-columns: repeat(12, 1fr);
        max-width: 960px; } }
    @media (min-width: 1200px) {
      .grid-container .grid-display {
        grid-gap: 24px;
        -ms-grid-columns: repeat(24, 1fr);
        grid-template-columns: repeat(24, 1fr);
        max-width: 1152px; } }
    @media (min-width: 1440px) {
      .grid-container .grid-display {
        grid-gap: 24px;
        -ms-grid-columns: repeat(24, 1fr);
        grid-template-columns: repeat(24, 1fr);
        max-width: 1392px; } }
    @media (min-width: 320px) {
      .grid-container .grid-display .grid-column:nth-child(-n+5) {
        display: -ms-grid;
        display: grid; } }
    @media (min-width: 768px) {
      .grid-container .grid-display .grid-column:nth-child(-n+13) {
        display: -ms-grid;
        display: grid; } }
    @media (min-width: 1200px) {
      .grid-container .grid-display .grid-column:nth-child(-n+25) {
        display: -ms-grid;
        display: grid; } }

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 5fr 1fr;
  grid-template-rows: 1fr 5fr 1fr;
  -ms-grid-columns: 2fr 5fr 3fr;
  grid-template-columns: 2fr 5fr 3fr;
  grid-template-areas: "header header header" "nav main aside" "footer footer footer";
  height: 100vh; }
  @media (min-width: 320px) {
    .container {
      grid-gap: 6px;
      margin: 0 12px;
      width: 100%; } }
  @media (min-width: 768px) {
    .container {
      grid-gap: 6px;
      margin: 0 12px;
      width: 100%; } }
  @media (min-width: 992px) {
    .container {
      grid-gap: 12px;
      margin: 0 24px;
      width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      grid-gap: 12px;
      margin: 0 24px;
      width: 1152px; } }
  @media (min-width: 1440px) {
    .container {
      grid-gap: 12px;
      margin: 0 24px;
      width: 1392px; } }
  @media (max-width: 768px) {
    .container {
      -ms-grid-rows: 1fr 1fr 5fr 1fr;
      grid-template-rows: 1fr 1fr 5fr 1fr;
      -ms-grid-columns: 2fr 5fr 3fr;
      grid-template-columns: 2fr 5fr 3fr;
      grid-template-areas: "header header header" "nav nav nav" "main main aside"     "footer footer footer"; } }
  @media (max-width: 480px) {
    .container {
      display: block; } }
  .container header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: header;
    background-color: teal; }
  .container nav.main-nav {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: nav;
    background-color: tomato; }
  .container section.main {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: main;
    background-color: lightblue; }
  .container aside {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: aside;
    background-color: orange; }
  .container footer {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: footer; }
