@import "https://drive.google.com/open?id=1zpb67nI7AiKNre0ps7PyS8XzMDgPPiVh";
@import "https://drive.google.com/open?id=1zpb67nI7AiKNre0ps7PyS8XzMDgPPiVh";
@import "https://drive.google.com/open?id=1zpb67nI7AiKNre0ps7PyS8XzMDgPPiVh";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1.5; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* if selector is wider than the screensize we are calling */
/* if selector is wider than the screensize we are calling */
/* 
  nom du breakpoint  
  breakpoint
  taille de la grille maximum
  nombre de colonne de la grille
  marges : bord du conteneur de la grille 
  gutters : bords des colonnes
*/
.grid-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: calc(100% - 12px); }
  .grid-container.active {
    opacity: 1; }
  .grid-container.hidden {
    opacity: 0; }
  .grid-container .grid-size-name {
    background: rgba(0, 0, 0, 0.5);
    height: 30px;
    text-align: center;
    width: 100%;
    z-index: 1; }
    @media (min-width: 320px) {
      .grid-container .grid-size-name:before {
        color: white;
        content: "xs";
        font-weight: bold;
        text-transform: uppercase; } }
    @media (min-width: 768px) {
      .grid-container .grid-size-name:before {
        color: white;
        content: "sm";
        font-weight: bold;
        text-transform: uppercase; } }
    @media (min-width: 992px) {
      .grid-container .grid-size-name:before {
        color: white;
        content: "md";
        font-weight: bold;
        text-transform: uppercase; } }
    @media (min-width: 1200px) {
      .grid-container .grid-size-name:before {
        color: white;
        content: "lg";
        font-weight: bold;
        text-transform: uppercase; } }
    @media (min-width: 1440px) {
      .grid-container .grid-size-name:before {
        color: white;
        content: "xl";
        font-weight: bold;
        text-transform: uppercase; } }
  .grid-container .grid-display {
    align-content: start;
    counter-reset: grid;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1;
    grid-template-rows: 1;
    height: 100vh;
    justify-content: center;
    pointer-events: none;
    position: fixed;
    width: calc(100% - 12px); }
    .grid-container .grid-display .grid-column {
      display: none;
      background-color: lightgreen;
      height: 100vh;
      position: relative; }
      .grid-container .grid-display .grid-column:before {
        color: white;
        counter-increment: grid;
        content: counters(grid, "");
        font-weight: bold;
        padding-top: 30px;
        text-align: center; }
    @media (min-width: 320px) {
      .grid-container .grid-display {
        grid-gap: 12px;
        -ms-grid-columns: repeat(4, 1fr);
        grid-template-columns: repeat(4, 1fr);
        max-width: 100%; } }
    @media (min-width: 768px) {
      .grid-container .grid-display {
        grid-gap: 12px;
        -ms-grid-columns: repeat(12, 1fr);
        grid-template-columns: repeat(12, 1fr);
        max-width: 100%; } }
    @media (min-width: 992px) {
      .grid-container .grid-display {
        grid-gap: 24px;
        -ms-grid-columns: repeat(12, 1fr);
        grid-template-columns: repeat(12, 1fr);
        max-width: 960px; } }
    @media (min-width: 1200px) {
      .grid-container .grid-display {
        grid-gap: 24px;
        -ms-grid-columns: repeat(24, 1fr);
        grid-template-columns: repeat(24, 1fr);
        max-width: 1152px; } }
    @media (min-width: 1440px) {
      .grid-container .grid-display {
        grid-gap: 24px;
        -ms-grid-columns: repeat(24, 1fr);
        grid-template-columns: repeat(24, 1fr);
        max-width: 1392px; } }
    @media (min-width: 320px) {
      .grid-container .grid-display .grid-column:nth-child(-n+5) {
        display: -ms-grid;
        display: grid; } }
    @media (min-width: 768px) {
      .grid-container .grid-display .grid-column:nth-child(-n+13) {
        display: -ms-grid;
        display: grid; } }
    @media (min-width: 1200px) {
      .grid-container .grid-display .grid-column:nth-child(-n+25) {
        display: -ms-grid;
        display: grid; } }

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 5fr 1fr;
  grid-template-rows: 1fr 5fr 1fr;
  -ms-grid-columns: 2fr 5fr 3fr;
  grid-template-columns: 2fr 5fr 3fr;
  grid-template-areas: "header header header" "nav main aside" "footer footer footer";
  height: 100vh; }
  @media (min-width: 320px) {
    .container {
      grid-gap: 6px;
      margin: 0 12px;
      width: 100%; } }
  @media (min-width: 768px) {
    .container {
      grid-gap: 6px;
      margin: 0 12px;
      width: 100%; } }
  @media (min-width: 992px) {
    .container {
      grid-gap: 12px;
      margin: 0 24px;
      width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      grid-gap: 12px;
      margin: 0 24px;
      width: 1152px; } }
  @media (min-width: 1440px) {
    .container {
      grid-gap: 12px;
      margin: 0 24px;
      width: 1392px; } }
  @media (max-width: 768px) {
    .container {
      -ms-grid-rows: 1fr 1fr 5fr 1fr;
      grid-template-rows: 1fr 1fr 5fr 1fr;
      -ms-grid-columns: 2fr 5fr 3fr;
      grid-template-columns: 2fr 5fr 3fr;
      grid-template-areas: "header header header" "nav nav nav" "main main aside"     "footer footer footer"; } }
  @media (max-width: 480px) {
    .container {
      display: block; } }
  .container header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: header;
    background-color: teal; }
  .container nav.main-nav {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: nav;
    background-color: tomato; }
  .container section.main {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: main;
    background-color: lightblue; }
  .container aside {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: aside;
    background-color: orange; }
  .container footer {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: footer; }

/* averta-light */
@font-face {
  font-family: '$font-averta-name';
  font-style: normal;
  font-weight: '$font-averta-weight-light';
  src: local("$font-averta-name"), local("Averta-Light"), "$font-averta-url-light"; }

/* averta-regular */
@font-face {
  font-family: '$font-averta-name';
  font-style: normal;
  font-weight: '$font-averta-weight-regular';
  src: local("$font-averta-name"), local("Averta-Regular"), "$font-averta-url-regular"; }

/* averta-semibold */
@font-face {
  font-family: '$font-averta-name';
  font-style: normal;
  font-weight: '$font-averta-weight-semibold';
  /* pour N3-UX devrait etre 600 */
  src: local("$font-averta-name"), local("Averta-Semibold"), "$font-averta-url-semibold"; }

/* averta-bold */
@font-face {
  font-family: '$font-averta-name';
  font-style: normal;
  font-weight: '$font-averta-weight-bold';
  src: local("$font-averta-name"), local("Averta-Bold"), "$font-averta-url-bold"; }

/* if selector is wider than the screensize we are calling */
/* if selector is wider than the screensize we are calling */
/* 
  nom du breakpoint  
  breakpoint
  taille de la grille maximum
  nombre de colonne de la grille
  marges : bord du conteneur de la grille 
  gutters : bords des colonnes
*/
.grid-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: calc(100% - 12px); }
  .grid-container.active {
    opacity: 1; }
  .grid-container.hidden {
    opacity: 0; }
  .grid-container .grid-size-name {
    background: rgba(0, 0, 0, 0.5);
    height: 30px;
    text-align: center;
    width: 100%;
    z-index: 1; }
    @media (min-width: 320px) {
      .grid-container .grid-size-name:before {
        color: white;
        content: "xs";
        font-weight: bold;
        text-transform: uppercase; } }
    @media (min-width: 768px) {
      .grid-container .grid-size-name:before {
        color: white;
        content: "sm";
        font-weight: bold;
        text-transform: uppercase; } }
    @media (min-width: 992px) {
      .grid-container .grid-size-name:before {
        color: white;
        content: "md";
        font-weight: bold;
        text-transform: uppercase; } }
    @media (min-width: 1200px) {
      .grid-container .grid-size-name:before {
        color: white;
        content: "lg";
        font-weight: bold;
        text-transform: uppercase; } }
    @media (min-width: 1440px) {
      .grid-container .grid-size-name:before {
        color: white;
        content: "xl";
        font-weight: bold;
        text-transform: uppercase; } }
  .grid-container .grid-display {
    align-content: start;
    counter-reset: grid;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1;
    grid-template-rows: 1;
    height: 100vh;
    justify-content: center;
    pointer-events: none;
    position: fixed;
    width: calc(100% - 12px); }
    .grid-container .grid-display .grid-column {
      display: none;
      background-color: lightgreen;
      height: 100vh;
      position: relative; }
      .grid-container .grid-display .grid-column:before {
        color: white;
        counter-increment: grid;
        content: counters(grid, "");
        font-weight: bold;
        padding-top: 30px;
        text-align: center; }
    @media (min-width: 320px) {
      .grid-container .grid-display {
        grid-gap: 12px;
        -ms-grid-columns: repeat(4, 1fr);
        grid-template-columns: repeat(4, 1fr);
        max-width: 100%; } }
    @media (min-width: 768px) {
      .grid-container .grid-display {
        grid-gap: 12px;
        -ms-grid-columns: repeat(12, 1fr);
        grid-template-columns: repeat(12, 1fr);
        max-width: 100%; } }
    @media (min-width: 992px) {
      .grid-container .grid-display {
        grid-gap: 24px;
        -ms-grid-columns: repeat(12, 1fr);
        grid-template-columns: repeat(12, 1fr);
        max-width: 960px; } }
    @media (min-width: 1200px) {
      .grid-container .grid-display {
        grid-gap: 24px;
        -ms-grid-columns: repeat(24, 1fr);
        grid-template-columns: repeat(24, 1fr);
        max-width: 1152px; } }
    @media (min-width: 1440px) {
      .grid-container .grid-display {
        grid-gap: 24px;
        -ms-grid-columns: repeat(24, 1fr);
        grid-template-columns: repeat(24, 1fr);
        max-width: 1392px; } }
    @media (min-width: 320px) {
      .grid-container .grid-display .grid-column:nth-child(-n+5) {
        display: -ms-grid;
        display: grid; } }
    @media (min-width: 768px) {
      .grid-container .grid-display .grid-column:nth-child(-n+13) {
        display: -ms-grid;
        display: grid; } }
    @media (min-width: 1200px) {
      .grid-container .grid-display .grid-column:nth-child(-n+25) {
        display: -ms-grid;
        display: grid; } }

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 5fr 1fr;
  grid-template-rows: 1fr 5fr 1fr;
  -ms-grid-columns: 2fr 5fr 3fr;
  grid-template-columns: 2fr 5fr 3fr;
  grid-template-areas: "header header header" "nav main aside" "footer footer footer";
  height: 100vh; }
  @media (min-width: 320px) {
    .container {
      grid-gap: 6px;
      margin: 0 12px;
      width: 100%; } }
  @media (min-width: 768px) {
    .container {
      grid-gap: 6px;
      margin: 0 12px;
      width: 100%; } }
  @media (min-width: 992px) {
    .container {
      grid-gap: 12px;
      margin: 0 24px;
      width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      grid-gap: 12px;
      margin: 0 24px;
      width: 1152px; } }
  @media (min-width: 1440px) {
    .container {
      grid-gap: 12px;
      margin: 0 24px;
      width: 1392px; } }
  @media (max-width: 768px) {
    .container {
      -ms-grid-rows: 1fr 1fr 5fr 1fr;
      grid-template-rows: 1fr 1fr 5fr 1fr;
      -ms-grid-columns: 2fr 5fr 3fr;
      grid-template-columns: 2fr 5fr 3fr;
      grid-template-areas: "header header header" "nav nav nav" "main main aside"     "footer footer footer"; } }
  @media (max-width: 480px) {
    .container {
      display: block; } }
  .container header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: header;
    background-color: teal; }
  .container nav.main-nav {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: nav;
    background-color: tomato; }
  .container section.main {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: main;
    background-color: lightblue; }
  .container aside {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: aside;
    background-color: orange; }
  .container footer {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: footer; }

.six-footer {
  background: '$color-graphite-50';
  color: '$color-white';
  height: 440px;
  /* pour IE */
  padding: 10px 0;
  text-align: center; }
  .six-footer nav,
  .six-footer hr,
  .six-footer .legal {
    width: 100%;
    /*@include bp('md') {
      background: lightblue;
      width: map-get($grid-width, md);
    }
    @include bp('lg') {
      background: lightgreen;
      width: map-get($grid-width, lg);
    }
    @include bp('xl') {
      background: lightsteelblue;
      width: map-get($grid-width, xl);
    }*/ }
  .six-footer nav {
    margin: 0 auto 10px; }
    .six-footer nav h3 {
      color: '$color-white';
      margin-bottom: 10px;
      text-align: left;
      text-transform: uppercase; }
    .six-footer nav ol {
      display: flex;
      justify-content: space-between; }
      .six-footer nav ol li {
        padding-right: 24px;
        width: calc(100%/6); }
        .six-footer nav ol li:last-child {
          padding-right: 0; }
    .six-footer nav ul li {
      display: block;
      margin-bottom: 10px;
      list-style-type: none;
      text-align: left;
      width: 100%; }
      .six-footer nav ul li a {
        color: '$color-white';
        text-decoration: none; }
        .six-footer nav ul li a:hover {
          text-decoration: underline; }
  .six-footer hr {
    margin: 10px auto; }
  .six-footer .legal {
    margin: 0 auto 14px; }
    .six-footer .legal ul {
      margin-bottom: 10px; }
    .six-footer .legal li {
      display: inline-block;
      list-style-type: none;
      padding-right: 5px; }
      .six-footer .legal li:after {
        content: "|"; }
      .six-footer .legal li:last-child:after {
        content: ""; }
      .six-footer .legal li a {
        color: '$color-white';
        text-decoration: none; }
        .six-footer .legal li a:hover {
          text-decoration: underline; }
    .six-footer .legal .copyright {
      text-align: center; }

*, ::before, ::after {
  box-sizing: border-box; }

body {
  font-family: '$font-averta-name', Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0 6px;
  padding: 0;
  width: 100%; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  font-family: '$font-averta-name', Arial, Helvetica, sans-serif; }

hr {
  border-top: 1px solid '$color-graphite-40'; }
